* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 0.95;
  color: #7a3c92;
}

p {
  line-height: 1.5;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 1rem;
}

.container h1 a {
  text-decoration: none;
}

.alert-success {
  background: #475097;
  color: #f9f9f9;
  padding: 1rem;
  text-align: center;
  margin-top: 1rem;
}

.alert-danger {
  background: #D8545A;
  color: #f9f9f9;
  padding: 1rem;
  text-align: center;
  margin-top: 1rem;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination a {
  margin: 0 0.5rem;
  padding: 0.25rem 0.5rem;
  text-decoration: none;
}

.admin-summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

.admin-summary li {
  min-width: 280px;
  margin: 2rem;
}

.admin-summary li a {
  -webkit-box-shadow: 3px 3px 5px rgba(122, 60, 146, 0.3);
          box-shadow: 3px 3px 5px rgba(122, 60, 146, 0.3);
  font-size: 2rem;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #475097;
}

body #main__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 0;
  background: #7a3c92;
  color: #f9f9f9;
  align-items: center;
}

body #main__nav .logo {
  width: 250px;
  margin-left: 2rem;
}

body #main__nav .logo h1 {
  color: #f9f9f9;
}

body #main__nav #hamburger {
  width: 2rem;
  height: 2rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  right: 2rem;
  cursor: pointer;
}

body #main__nav #hamburger span {
  width: 100%;
  height: 4px;
  background: #f9f9f9;
}

@media (min-width: 600px) {
  body #main__nav #hamburger {
    display: none;
  }
}

body #main__nav nav {
  position: absolute;
  top: 63px;
  left: -300px;
  width: 202px;
  height: 100%;
  background: #7a3c92;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body #main__nav nav ul {
  list-style: none;
}

body #main__nav nav ul li {
  position: relative;
  padding: 0.5rem 1rem;
}

body #main__nav nav ul li a {
  color: #f9f9f9;
  text-decoration: none;
}

body #main__nav nav form {
  position: relative;
  top: -0.25rem;
}

body #main__nav nav form input {
  border: 1px solid #f9f9f9;
  height: 2rem;
}

body #main__nav nav form button {
  position: absolute;
  bottom: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0.1rem;
}

@media (min-width: 600px) {
  body #main__nav nav {
    position: static;
    padding: 1rem auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  body #main__nav nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    list-style: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 2rem;
  }
  body #main__nav nav ul li {
    position: relative;
    padding: 0.5rem 1rem;
  }
  body #main__nav nav ul li a {
    color: white;
    text-decoration: none;
  }
  body #main__nav nav ul li form {
    position: relative;
    top: 0.05rem;
  }
  body #main__nav nav ul li ul {
    display: none;
  }
  body #main__nav nav ul li:hover ul {
    display: block;
    position: absolute;
    background: #f9f9f9;
    right: -4rem;
    top: 2.7rem;
  }
  body #main__nav nav ul li:hover ul a {
    color: #161616;
  }
}

body #articles .article, body #articles .user, body #article .article, body #article .user, body #users .article, body #users .user {
  margin: 2.5rem 0;
  padding: 1.5rem;
  background: #f9f9f9;
  -webkit-box-shadow: 1.25px 1.25px 5px rgba(122, 60, 146, 0.3);
          box-shadow: 1.25px 1.25px 5px rgba(122, 60, 146, 0.3);
}

body #articles .article__header, body #articles .user__header, body #article .article__header, body #article .user__header, body #users .article__header, body #users .user__header {
  position: relative;
}

body #articles .article__header a, body #articles .user__header a, body #article .article__header a, body #article .user__header a, body #users .article__header a, body #users .user__header a {
  text-decoration: none;
  color: #7a3c92;
}

body #articles .article__header span, body #articles .user__header span, body #article .article__header span, body #article .user__header span, body #users .article__header span, body #users .user__header span {
  position: absolute;
  top: -2rem;
  right: 0;
  background: #7a3c92;
  padding: 0.25rem 0.5rem;
}

body #articles .article__header span a, body #articles .user__header span a, body #article .article__header span a, body #article .user__header span a, body #users .article__header span a, body #users .user__header span a {
  text-transform: uppercase;
  text-decoration: none;
  color: #f9f9f9;
  -webkit-box-shadow: 1.25px 1.25px 5px rgba(122, 60, 146, 0.5);
          box-shadow: 1.25px 1.25px 5px rgba(122, 60, 146, 0.5);
}

body #articles .article__body, body #articles .user__body, body #article .article__body, body #article .user__body, body #users .article__body, body #users .user__body {
  margin: 1rem auto;
}

body #articles .article .user__footer, body #articles .user .user__footer, body #article .article .user__footer, body #article .user .user__footer, body #users .article .user__footer, body #users .user .user__footer {
  margin-top: 1rem;
}

body #articles .article .article__options, body #articles .article .user__options, body #articles .user .article__options, body #articles .user .user__options, body #article .article .article__options, body #article .article .user__options, body #article .user .article__options, body #article .user .user__options, body #users .article .article__options, body #users .article .user__options, body #users .user .article__options, body #users .user .user__options {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #articles .article .article__options a, body #articles .article .user__options a, body #articles .user .article__options a, body #articles .user .user__options a, body #article .article .article__options a, body #article .article .user__options a, body #article .user .article__options a, body #article .user .user__options a, body #users .article .article__options a, body #users .article .user__options a, body #users .user .article__options a, body #users .user .user__options a {
  display: block;
  position: absolute;
  left: 130px;
  top: 10px;
  padding: 0.3rem 0.5rem;
  text-decoration: none;
}

body #articles .article .article__options form, body #articles .article .user__options form, body #articles .user .article__options form, body #articles .user .user__options form, body #article .article .article__options form, body #article .article .user__options form, body #article .user .article__options form, body #article .user .user__options form, body #users .article .article__options form, body #users .article .user__options form, body #users .user .article__options form, body #users .user .user__options form {
  position: absolute;
  left: 0;
  top: 10px;
}

body #articles .article .article__options .btn-info, body #articles .article .user__options .btn-info, body #articles .user .article__options .btn-info, body #articles .user .user__options .btn-info, body #article .article .article__options .btn-info, body #article .article .user__options .btn-info, body #article .user .article__options .btn-info, body #article .user .user__options .btn-info, body #users .article .article__options .btn-info, body #users .article .user__options .btn-info, body #users .user .article__options .btn-info, body #users .user .user__options .btn-info {
  background: #475097;
  color: white;
}

body #articles .article .article__options .btn-danger, body #articles .article .user__options .btn-danger, body #articles .user .article__options .btn-danger, body #articles .user .user__options .btn-danger, body #article .article .article__options .btn-danger, body #article .article .user__options .btn-danger, body #article .user .article__options .btn-danger, body #article .user .user__options .btn-danger, body #users .article .article__options .btn-danger, body #users .article .user__options .btn-danger, body #users .user .article__options .btn-danger, body #users .user .user__options .btn-danger {
  background: #D8545A;
  color: white;
  margin-left: 0;
}

body #articles .no-articles, body #articles .no-users, body #article .no-articles, body #article .no-users, body #users .no-articles, body #users .no-users {
  padding: 1rem;
  text-align: center;
}

body form {
  max-width: 300px;
  margin: 0 auto;
}

body form button[type="submit"] {
  background: #7a3c92;
  color: #f9f9f9;
  padding: 0.35rem 1rem;
  border: none;
  cursor: pointer;
  height: 1.8rem;
}

body form .form-group {
  margin: 1rem 0;
}

body form .form-group .form-control {
  width: 100%;
  margin-top: 0.25rem;
  min-height: 1.8rem;
}

body form .form-group p.danger {
  color: #D8545A;
}
/*# sourceMappingURL=style.css.map */